<IfModule mod_rewrite.c>
  RewriteEngine On

  # Dùng ngoặc kép để bao quanh đường dẫn có dấu cách
  RewriteBase "/Web ban thiet bi dien tu/backend/public/"

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Chuyển hướng tất cả yêu cầu đến index.php
  RewriteRule ^ index.php [QSA,L]
</IfModule>